* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
    --guides-color: #000339;
}

html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-family: "Poppins", sans-serif;
}


/* Common */

.content {
    width: 1110px;
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 22px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.arrow-right {
    margin-left: 5px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.row {
    display: flex;
}


/* Header */

.fixed-header {
    padding-top: 26px;
    background-color: #E6F0FF;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    display: flex;
    position: relative;
    background-color: #E6F0FF;
    height: calc(100vh - 100px);
}

.navbar {
    display: flex;
    align-items: center;
    /* padding-top: 38px; */
    padding: 12px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 14px;
    color: #4F5361;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    min-width: 98px;
    padding: 18px 22px;
    flex-shrink: 0;
    border-radius: 8px;
}

.navbar .action-link:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.navbar .btn-action {
    margin-left: 18px;
    padding: 13px 22px;
    border-radius: 8px;
}


/* Hero */

.hero {
    margin-top: 130px;
    max-width: 50%;
}

.hero .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.3rem;
    font-weight: 700;
    line-height: 118.75%;
}

.hero .desc {
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 177.778%;
    margin: 30px 0px 40px;
}

.hero-cta {
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0px;
}


/* Clients */

.clients-logo {
    margin-top: 79px;
    padding: 43px 0px 41px;
}

.clients-logo .row {
    justify-content: space-between;
}

.clients-logo .row p {
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 125%;
}

.clients-logo .row:first-child {
    margin-bottom: 23px;
}

.clients-logo .images {
    display: flex;
    margin-top: 70px;
}

.clients-logo .images a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 91px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients-logo .images a img {
    align-items: center;
}

.clients-logo .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}


/* Guides */

.guides {
    margin-top: 40px;
    padding: 93px 0 80px;
}

.guides .sub-title {
    position: relative;
    color: var(--guides-color);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: var(--guides-color);
}

.guides .desc {
    margin: 20px auto;
    text-align: center;
    width: 459px;
    max-width: 100%;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.list-guides {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.guide-item {
    margin: 0px 70px;
    text-align: center;
}

.guide-item .title {
    margin: 26px 0 10px;
    color: #3B3C45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    /* 110% */
}

.guide-item .link {
    color: #0689FF;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}


/* Featured */

.featured {
    margin-top: 40px;
    background: #F5FAFE;
    padding-bottom: 110px;
}

.featured .sub-title {
    padding-top: 110px;
    margin-bottom: 15px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.featured .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.featured .row {
    align-items: center;
    align-items: center;
    justify-content: space-between;
}

.featured .link {
    display: flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .list {
    margin-top: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.featured .item {
    margin: 0 auto;
    flex: 1;
    object-fit: cover;
    background-color: #FFF;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    margin: 17px 20px 22px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    word-break: break-all;
}

.featured .item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
}

.featured .item .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.featured .item .icon {
    margin-left: 22px;
}

.featured .item .icon:first-child {
    margin-left: 0px;
}

.featured .item .label {
    margin-left: 8px;
    color: #4D4D52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.014rem;
}


/* Stats */

.stats {
    margin-top: 75px;
    padding: 50px;
}

.stats .content {
    width: 1048px;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats-trend {
    position: absolute;
    padding: 45px 22px 40px;
    left: 0;
    top: 0;
    width: 240px;
    border-radius: 12px 0px 12px 12px;
    background: #FFF;
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats-trend .separate {
    margin-top: 25.5px;
    height: 1.2px;
    background: #E9E9E9;
}

.stats-trend .avatar-blog {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 16px;
}

.stats-trend .avatar {
    width: 16.337px;
    height: 16.337px;
    margin-left: -3px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--bg-color, #fff);
    color: #FFF;
    text-align: center;
    line-height: 16px;
    font-size: 0.7rem;
    font-weight: 450;
    letter-spacing: -0.02em;
}

.stats-trend .avatar:first-child {
    margin-left: 0;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
    box-shadow: -1px 0px 27px 15px rgba(0, 0, 0, 0.13);
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .sub-title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 128.571%;
}

.stats .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.stats .row-qty {
    display: flex;
    justify-content: space-between;
    margin: 110px 0 50px;
}

.stats .qty {
    /* margin-bottom: 22px; */
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
}

.stats .desc-qty {
    margin-top: 22px;
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
}


/* Subscription */

.subscription {
    margin-top: 50px;
}

.subscription .body {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    margin: 110px 80px;
    width: 510px;
    max-width: 100%;
}

.subscription .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
}

.subscription .desc {
    margin-top: 15px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #FFF;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    left: 700px;
}


/* Footer */

.footer {
    margin-top: 55px;
    padding: 50px 165px 60px;
}

.footer .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
}

.footer .row:first-child {
    gap: 40px;
}

.footer .heading {
    margin-bottom: 42px;
    color: #1C1C1D;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .item a:hover {
    text-decoration: underline;
}

.footer .desc {
    line-height: 175%;
    white-space: normal;
}

.footer .social {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.footer .social-link {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    border-radius: 5px;
}

.footer .social-link:hover {
    background-color: #ddd;
}

.footer .row:last-child {
    margin-top: 80px;
    align-items: center;
}

.footer .copyright {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}